/*______________________ Global stlye ___________________*/

 @font-face {
  font-family: 'font-awesome';
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf');
  src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot'), /* IE9 Compat Modes */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
 }

 @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat:wght@400;700&family=Oswald:wght@600&display=swap');

 body {
  /*  font-family: 'Lato', sans-serif;  */
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color:rgba(0,0,0,0.65);
  font-size: 16px;
  position: relative;
 }

 body .main-page-wrapper {
   overflow-x:hidden; 
 }

$text-strong: 'Oswald', sans-serif;
$text-serif: 'Amiri', serif;

$padding: 50px;

$small-width: 900px; 

 h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
 h1,h2,h3,h4,h6 {color: #2d2d43;}
 h1 {font-size: 60px; font-weight: 600;}
 h2 {font-size: 40px; font-weight: 600;}
 h3 {font-size: 30px; font-weight: 500;}
 h4 {font-size: 24px; font-weight: 500;}
 h5 {font-size: 22px; font-weight: 500;}
 h6 {font-size: 20px; font-weight: normal;}
 p {line-height: 32px;}
 ul {list-style-type: none;}
 a {text-decoration: none; display: inline-block;}
 a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
 img {max-width: 100%; display: block;}
 button {border:none;outline: none;-webkit-box-shadow: none;box-shadow: none;display: block; padding: 0;}
 input,textarea {outline: none; -webkit-box-shadow: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.float-left {float:left;}
.float-right {float:right;}
.m-top0 {margin-top: 0 !important;}
.m-bottom0 {margin-bottom: 0 !important;}
.p-bottm0 {padding-bottom: 0 !important;}
.no-border {border: none !important;}


section{
  position: relative;
  padding: $padding*1.5 $padding;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

#upper{
  padding: $padding/3 $padding; 

  h1{
    font-family: $text-strong;
    color: $color_white;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
}

.animateIn{
  transform: translateY(0px);
}

.animateOut{
  transform: translateY(-100%);
}

#menu{
  padding: $padding/3 $padding;
  background-color: $color_white;
  position: absolute;
  width: 100%;
  transition: all 500ms ease-in-out;

  .wrapper{
    height: 36px;
  }

    ul li a{
      color: $color_purple;
      transition: all 100ms ease-in-out;
      border-bottom: 2px solid $color_white;
      height: 30px;

      &:hover, &#active{
        color: $color_red;
       // border-bottom: 1px solid $color_red;
        height: 35px;
      }
  }

  nav{

    ul{
      display: inline-block;
      width: 30%;
      line-height: 33px; // tamanho vertical do logo
     // vertical-align: text-bottom;
     line-height: 35px;
     vertical-align: top;
     
      li{
        display: inline-block;
       
        a{
          font-family: $text-strong;
          color: $color_purple;
          font-size: 16px;
          text-transform: uppercase;
          margin-right: $padding/2;
        }
      }
    }

    .logo{
      display: inline-block;
      width: 40%;

      a{
        margin: 0 auto;
        display: block;
        width: 100px;
      }
    }
  }
}

button{
  background-color: $color_red;
  color: $color_white;
  padding: $padding/4 $padding;
  border: 0;
  border-radius: 50px;
  font-family: $text-strong;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 auto;
}

footer.bg-purple{
  background-color: $color_pink;
  margin-top: -10px;

  #footer-infos{
    width: 50%;

    .logo{
      display: inline-block;
    }

     #menu-footer{
      display: inline-block;

      h1, li, a{
        color: $color_white;
      }

      h1{
        font-family: $text-serif;
        font-size: 16px;
        text-transform: uppercase;
      }

      a{
        font-size: 12px;
      }
    }

  }
}

