#video-banner{
	background: #000;
	height: 100vh;
    width: 100%;
    padding: 0 !important;
	top: -40px;
	margin-bottom: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

	video{
		position: absolute;
		top: 0;
		left: 0;
		//min-height: 100vh;
		//width: 100%;
		z-index: 1;
		background-color: #000;
		//opacity: .6;
		width: 100%;
	}

	@media (min-aspect-ratio: 16/9) {
		#video {
			width:100%;
			height: auto;
		}
	}

	@media (max-aspect-ratio: 16/9) {
		video { 
			width:auto;
			height: 100%;
		}
	}

	.text{
		z-index: 2;
		position: relative;
		padding: 0 $padding;

		h1{
			font-size: 80px;
			text-align: center;
			width: 100%;
			margin-top: 40vh;
			font-family: $text-strong;
			color: #ba99d6;
			text-transform: uppercase;
		}
	
		h2{
			font-size: 12px;
			text-align: center;
			width: 100%;
			font-family: $text-serif;
			font-size: 30px;
			color: $color_pink;
			margin-top: 20px;
			overflow: hidden;

			.letter {
				display: inline-block;
				line-height: 1em;
			  }
			// text-transform: uppercase;
		}
	}
}

#intro{
	h1{
		font-family: $text-strong;
		color: $color_white;
		text-align: center;
		font-size: 24px;
		margin-bottom: $padding/2;
	}
	p{
		max-width: $small-width;
		color: $color_white;
		text-align: center;
		margin: 0 auto;
	}
}

#manifesto{

	p{
		color: $color_purple;
		font-family: $text-strong;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 40px;

		strong{
			text-decoration: underline;
		}

		&.init{
			font-size: 30px;
			margin-bottom: $padding;
			letter-spacing: 1px;
		}
	}

	.block{
		display: flex;
    	flex-direction: row;
	}

	.text{
		flex: 2;
	}

	.symbol{
		flex: 1;
		position: relative;

		img{
			display: block;
			margin: 0 auto;
		}

		svg{
			height: 200px;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 70%;
		}
	}
}

#created-by{
	svg{
		height: 160px;
		width: 100%;
		
		textPath{
			font-family: "Amiri",serif;
			text-transform: uppercase;
			letter-spacing: 8px;
			font-weight: 900;
			font-size: 40px;
		}
	}
}

#meio{
	padding: 0;
	white-space: nowrap;

	div{
		width: 50%;
		display: inline-block;
		border: 2px solid red;
		height: 100px;
	}
}

#content-home-2{
	padding: $padding $padding/2;

	h1, p{
		color: $color_white;
	}

	h1{
		font-family: $text-strong;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 25px;
		margin-bottom: $padding/2;
	}

	.image, .text{
		flex: 1;
	}

	.container{
		display: flex;
	}

	.image{ 
		// width: 44%;
		// flex: 1;
		// background-color: red;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		-moz-box-sizing: border-box; 
	    -webkit-box-sizing: border-box; 
		box-sizing: border-box; 

		background-clip: content-box!important;
		max-width: 800px;
		position: relative;

		flex: 1;

		&#content-img-1{
			background: url('../images/content/lilit-content-bg-1.jpg') no-repeat;
		}

		&#content-img-2{
			background: url('../images/content/lilit-content-bg-2.jpg') no-repeat;
		}

		&#content-img-3{
			background: url('../images/content/lilit-content-bg-3.jpg') no-repeat;
		}
	}

	.text{
		background-clip: content-box!important;
		padding: $padding 0;
	}
}

#content-home{
	padding: 0;

	h1, p{
		color: $color_white;
	}

	strong{
		font-size: 18px;
    	color: #FFF;
	}

	h1{
		font-family: $text-strong;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 25px;
		margin-bottom: $padding/2;
	}

	#content-1,
	#content-2,
	#content-3 {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
	}

	.image{ 
		// width: 44%;
		// flex: 1;
		// background-color: red;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		-moz-box-sizing: border-box; 
	    -webkit-box-sizing: border-box; 
		box-sizing: border-box; 

		background-clip: content-box!important;
		max-width: 800px;
		position: relative;

		flex: 1;

		&#content-img-1{
			background: url('../images/content/lilit-content-bg-1.jpg') no-repeat;
		}

		&#content-img-2{
			background: url('../images/content/lilit-content-bg-2.jpg') no-repeat;
		}

		&#content-img-3{
			background: url('../images/content/lilit-content-bg-3.jpg') no-repeat;
		}

		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 60%;
		}
	}

	.text{ 
		-moz-box-sizing: border-box; 
    	-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
		flex: 1;

		background-clip: content-box!important;

		h1, p{
			max-width: 80%;
		}
	}

	#content-1,
	#content-3 {
		.text{
			margin-left: $padding; 
			padding: $padding*3 0;
		}

		.image{
			padding-right: $padding*2;
			   //  width: 50%;
			   
			   img{
					padding-right: 100px;
			   }
		}
	}

	#content-2{
		.text{
			margin-right: $padding;
			padding: $padding*3 0;
			text-align: right;

			h1, p{
				float: right;
			}
		}

		.image{
			padding-left: $padding*2;
	   		//  width: 50%;
	   		 display: inline-block;
	   		 -moz-box-sizing: border-box;
			background-clip: content-box;
			

			img{
				padding-left: 100px;
		   }
		}
	}
}

#created-by{
	h1{
		color: $color_red;
		text-align: center;
		font-size: 32px;
		font-family: $text-serif;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}


#founder-letter{
	background-color: $color_purple;
	background-image: url('../images/content/lilit-tecido-carta.png');
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;

	color: $color_white;

	padding: $padding*3 $padding;

	.wrapper{
		max-width: $small-width - ($small-width/3);
		margin: 0 auto;
		text-align: justify;
  		text-justify: inter-word;

		h1{
			font-family: $text-strong;
			color: $color_white;
			font-size: 26px;
			margin-bottom: $padding;
		}

		p{
			margin-bottom: $padding/1.5;
		}

		#ass{
			font-size: 16px;
			font-weight: 900;
		}
	}
}

#reviews{

	.review-title{
		display: table;
		margin: 0 auto;
	}

	select{
		text-transform: unset;
		margin: 0 10px;
		letter-spacing: 4px;
		background: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 2px solid $color_red;
		outline-color: transparent;
		outline-style: none;
		  
		&:focus {
			outline-color: transparent;
			outline-style: none;
		}

		&:hover{
			cursor: pointer;
		}
	}

	.wrapper{
		max-width: $small-width;
		margin: 0 auto;

		h1{
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			letter-spacing: 4px;
			color: $color_red;
			text-align: center;
			text-transform: uppercase;
			font-size: 16px;
			display: inline-block;
		}

		.quote{
			font-family: $text-strong;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $color_pink;
			text-align: center;
			font-size: 26px;
			margin: $padding 0 $padding/2;
			padding: 0 100px;
		}

		.person{
			font-family: $text-serif;
			color: $color_pink;
			text-align: center;
			text-transform: uppercase;
			font-size: 22px;
			margin-bottom: $padding/4;

			img{
				display: inline-block;
			}
		}
	}
	
}

@media (max-width: 768px) {
	#reviews{
		h1{
			display: block!important;
			margin-bottom: $padding/4;
		}
		
		.wrapper .quote{
			padding: 0;
		}
	}

	.glide__arrows{
		top: unset;
	}

	#created-by svg textPath{
		font-size: 50px;
	}

	#manifesto .block{
		display: block;

		div{
			position: relative;
		}

		.symbol svg{
			height: auto;
			position: relative;
			top: unset;
			left: unset;
			transform: none;
			/* max-width: 200px; */
			margin: 0 auto;
			display: block;
		}
	}
}