.bg-red{
	background: $color_red;
	color: #FFF;
}

.bg-white{
	background: $color_white;

	&.text-purple{
		color: $color_purple;
	}

	&.text-pink{
		color: $color_pink;
	}
}

.bg-purple{
	background: $color_purple;
	color: $color_white;
}

.bg-pink{
	background: $color_pink;
	color: $color_white;
}

